:global {
  .container {
    padding-top: 30px;
    height: 470px;
    background-color: #fff;

    .common_search_content {
      background-color: #f7f7f7;

      .select-input {
        width: 100%;
      }
    }

    .triangleUp,
    .triangleDown {
      transform-origin: center center;
    }
    .triangleUp {
      transform: rotate(-180deg);
      transition-duration: 0.5s;
    }
    .triangleDown {
      transform: rotate(0deg);
      transition-duration: 0.5s;
    }
  }
}
